<ion-view view-title = "Home" scroll="false" overflow-scroll="false">
    <div ng-show="show_init_modal" ng-include src="'templates/init_modal.html'"></div>
    <div class="row" ng-style="{{GuiSettings.menu_container_style}}">
        <div class="col col-center menu-button" >
            <div class="menu-button-content" scroll="false">
                <img ng-src="{{GuiSettings.menu_picture}}" usemap="#viewmap" class="menu-img">
            </div>
        </div>
        <map name="viewmap">
          <area shape="rect" coords="0,0,400,486" on-touch='goToMeet()' on-drag='goToMeet()'>
          <area shape="rect" coords="400,0,800,486" on-touch='goToPork()' on-drag='goToPork()'>
          <area shape="rect" coords="800,0,1200,486" on-touch='goToElaborated()' on-drag='goToElaborated()'>
        </map>
    </div>
    <div class="logo-container">
        <img ng-src="{{GuiSettings.menu_logo}}" class="logo">
    </div>
</ion-view>