<ion-view view-title = "Top Vegetables" scroll="false" overflow-scroll="false">

    <div ng-show="show_modal" ng-include src="'templates/modal.html'"></div>
    <div ng-show="show_quant_modal" ng-include src="'templates/choose_quantity_modal.html'"></div>
    <div class="navigation-arrow arrow-left" ng-style="{{GuiSettings.color_style}}" on-touch="goToMenu()" on-drag="goToMenu()">
        <i class="icon ion-navicon-round icon-content"></i>
        <div class="arrow-text-content lib-text"> INICIO </div>
    </div>
    <div class="row">
        <div class="col-90 offset-5 col-center">
          <div ng-repeat = "product in products" ng-if = "$index >= startIndex && $index < (startIndex + 20) && $index % 5 == 0"
               ng-init = "sectionIndex = $index" class = "row product-20-row">

              <div ng-repeat = "product in products track by product.plu"
                        ng-if = "$index >= sectionIndex && $index < (sectionIndex + 5)"
                        on-touch="selectProduct(product)" on-drag="selectProduct(product)"
                        class="col-20">
                <div  class="product-20-image" ng-cache back-img='{{"http://" + settings.server_ip + "/" + product.small_img}}'>
                </div>
                <div class="product-text item-text-wrap">{{product.name}}</div>
              </div>
          </div>
        </div>
    </div>
  <div class="navigation-arrow arrow-right" ng-style="{{GuiSettings.color_style}}" on-touch="goToVegetables()" on-drag="goToVegetables()">
        <i class="icon ion-more icon-content"></i>
        <div class="arrow-text-content lib-text line-h-30"> VER <br> MÁS <br>VERDURAS</div>
  </div>
</ion-view>
